<h2>List Of All Urls</h2>

{{#if err}}
<h5 style="color:red"> {{ err }}</h5>
{{/if}}

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Url</th>
      <th scope="col">Shortcode</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {{#each  urls }}
    <tr>
      <th scope="row">{{ @index }}</th>
      <td>{{ this.url }}</td>
      <td><a href="shortcode/{{ this.shortcode }}/stats">{{ this.shortcode }} </a></td>
      <td>{{ this.details }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>